
<!--Form with header-->
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="form-header brand-color">
            <h3><i class="fa fa-lock"></i> Login</h3>
        </div>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" class="form-control">
            <label for="form4">Your password</label>
        </div>

        <div class="text-center">
            <button routerLink="/home/documents" routerLinkActive="active" class="btn brand-color btn-block">Login</button>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer">
	    <div class="container">
		    <div class="text-center">
		        <small>
                    Don't have an acount? 
                    <a routerLink="/register" routerLinkActive="active">Sign Up.</a>
                </small>
		    </div>
		    <div class="text-center">
		        <small><a href="#">Forgot Password?</a></small>	    	
		    </div>
	    </div>
    </div>

</div>
<!--/Form with header-->
