<!--Form with header-->
<div class="card">
    <div class="card-block">
        <!--Header-->
        <div class="form-header brand-color">
            <h3><i class="fa fa-user"></i> Register</h3>
        </div>

        <!--Body-->
        <div class="md-form">
            <input type="text" id="form3" class="form-control">
            <label for="form3">Your name</label>
        </div>
        <div class="md-form">
            <input type="text" id="form2" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <input type="password" id="form4" class="form-control">
            <label for="form4">Your password</label>
        </div>

        <div class="text-center">
            <button routerLink="/home/documents" routerLinkActive="active" class="btn brand-color btn-block">Register</button>
        </div>

    </div>
    <div class="modal-footer">
        <div class="container">             
            <div class="text-center">
                <small>
                    Have an account?
                    <a routerLink="/login" routerLinkActive="active">Log In.</a>
                </small>
            </div>
        </div>
    </div>
</div>
<!--/Form with header-->
